flask-cors
tqdm
moviepy
speechrecognition
pydub 
langchain
langchain-chroma
langchain-community
google-generativeai
imageio-ffmpeg
unstructured
tiktoken
Flask==2.2.5
langchain-google-genai
python-dotenv==1.0.0
chromadb  
chromadb[accelerate]
chromadb[all]

neo4j